@font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumGothic.eot');
    src: url('../font/NanumGothic.eot') format('embedded-opentype')
        ,url('../font/NanumGothic.woff') format('woff');
}

/*myInfomain*/
#myInfo_main {width: 1274px; height: 90vh; margin: 0 auto; display: flex; align-items: center; 
    border-width: 0px 3px 0px 3px; border-style: solid; border-color: #AEAEAE;}
#myInfo_box {width: 564px; margin: 0 auto;}
#myInfo {font-size: 2rem; font-weight: bold; color: #2d2d2d;}
.myInfo_inputbox {display: flex; margin-top: 30px;}
.info {width: 130px; margin-right: 10px; display: flex; align-items: center;}
.info_sp {font-size: 1.2rem; font-weight: 600; color: #2d2d2d;}
.myInfo_info_to {width: 324px; height: 40px; 
    display: flex; align-items: center;}
.info_box {font-size: 1.2rem; font-weight: bold}
#email {width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;}
#myInfo_btn {width: 104px; height: 40px; border:1px solid #2d2d2d; border-radius: 10px;
    margin-top: 30px; margin-left: 140px; background-color: #2d2d2d; cursor: pointer;}
#member_secession{width: 104px; height: 40px; border:1px solid #2d2d2d; border-radius: 10px;
    margin-top: 30px; margin-left: 40px; background-color: #2d2d2d; cursor: pointer;
    font-size: 1rem; font-weight: bold; color: white;}
#myInfo_sp {font-size: 1rem; font-weight: bold; color: white; }