/* @font-face {
    font-family: 'NanumGothic';
    src: url('../font/NanumGothic.eot');
    src: url('../font/NanumGothic.eot') format('embedded-opentype')
        ,url('../font/NanumGothic.woff') format('woff');
} */

/*signupmain*/
#signup_main {width: 1274px; height: 90vh; margin: 0 auto; display: flex; align-items: center; 
    border-width: 0px 3px 0px 3px; border-style: solid; border-color: #AEAEAE;}
#signup_box {width: 564px; margin: 0 auto;}
#signup {font-size: 2rem; font-weight: bold; color: #2d2d2d;}
.signup_inputbox {display: flex; margin-top: 30px;}
.info {width: 130px; margin-right: 10px; display: flex; align-items: center;}
.info_sp {font-size: 1.2rem; font-weight: 600; color: #2d2d2d;}
.signup_info_to {width: 324px; height: 40px; border: 1px solid #2d2d2d; border-radius: 10px 0px 0px 10px;
    display: flex; align-items: center;}
.signup_input_to {width: 310px; height: 30px; margin-left: 2px; font-size: 1.3rem; border: none; outline: none;}
.duplication_check {width: 104px; border: 1px solid #2d2d2d; border-left: none; border-radius: 0px 10px 10px 0px;
    background-color: #2d2d2d; cursor: pointer;}
#id_check,#nickname_check {font-size: 1rem; font-weight: bold; color: white;}
.signup_info {width: 428px; height: 40px; border: 1px solid #2d2d2d; border-radius: 10px; display: flex; align-items: center;}
.signup_input {width: 410px; height: 30px; margin-left: 2px; font-size: 1.3rem; border: none; outline: none;}
.signup_input_email {width: 186px; height: 40px; border: 1px solid #2d2d2d; border-radius: 10px; outline: none;
    font-size: 1.3rem;}
#email {width: 40px; height: 40px; display: flex; align-items: center; justify-content: center;}
#email_sp {font-size: 1.5rem; font-weight: bold;}
#signup_btn {width: 104px; height: 40px; border:1px solid #2d2d2d; border-radius: 10px;
    margin-top: 30px; margin-left: 140px; background-color: #2d2d2d; cursor: pointer;}
#signup_sp {font-size: 1rem; font-weight: bold; color: white; }
#idserch {text-decoration: none; color: #2d2d2d;}
#idserch:hover {font-weight: bold;}