<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaOreum.dao.notice.NoticeDao">
	
	<select id="getNoticeViewList" resultType="com.chaOreum.entity.NoticeView">
		SELECT N.*, M.nickname admin_nickname FROM notice N
		JOIN member M ON M.id = N.admin_id 
		ORDER BY no
	</select>
	
	<select id="getView" resultType="com.chaOreum.entity.NoticeView">
		SELECT N.*, M.nickname admin_nickname FROM notice N
		JOIN member M ON M.id = N.admin_id 
		WHERE N.no = ${no}
	</select>
	
</mapper>