<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaOreum.dao.admin.NoticeDao">
	
	<select id="getViewList" resultType="com.chaOreum.entity.NoticeView">
		SELECT N.*, M.nickname admin_nickname FROM notice N
		JOIN member M ON M.id = N.admin_id 
		ORDER BY no
	</select>
	
	<select id="getView" resultType="com.chaOreum.entity.NoticeView">
		SELECT N.*, M.nickname admin_nickname FROM notice N
		JOIN member M ON M.id = N.admin_id 
		WHERE N.no = ${no}
	</select>
	
	<insert id="set" parameterType="com.chaOreum.entity.Notice">
		INSERT INTO notice VALUES(DEFAULT, #{admin_id}, #{title}, #{contents}, DEFAULT);
	</insert>
	
	<update id="edit" parameterType="com.chaOreum.entity.Notice">
		UPDATE notice SET title = #{title}, contents = #{contents} WHERE no = #{no}
	</update>
	
	<select id="getComments" resultType="com.chaOreum.entity.NoticeComment">
		SELECT * FROM noticeComment WHERE notice_no = #{no} ORDER BY regDate DESC
	</select>
	
	<insert id="setComment" parameterType="com.chaOreum.entity.NoticeComment">
		INSERT INTO noticeComment VALUES(DEFAULT, #{notice_no}, #{member_nickname}, #{contents}, DEFAULT, #{secret})
	</insert>
	
	<delete id="commentDelete">
		DELETE FROM noticeComment WHERE no = #{no}
	</delete>
	
	<select id="getReplies" resultType="com.chaOreum.entity.NoticeReply">
		SELECT * FROM noticeReply WHERE notice_no = #{no} ORDER BY regDate DESC
	</select>
	
	<insert id="setReply" parameterType="com.chaOreum.entity.NoticeReply">
		INSERT INTO noticeReply VALUES(DEFAULT, #{notice_no}, #{comment_no}, #{member_nickname}, #{contents}, DEFAULT, #{secret})
	</insert>
	
	<delete id="replyDelete">
		DELETE FROM noticeReply WHERE no = #{no}
	</delete>
	
	<delete id="delete">
		DELETE FROM notice WHERE no = #{no}
	</delete>
	
</mapper>