<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaOreum.dao.include.IncludeDao">

  <select id="getMainCategories" resultType="com.chaOreum.entity.MainCategory">
  	SELECT MC.* FROM mainCategory MC 
  	<if test="nickname != null and nickname != ''">
  		JOIN subCategory SC ON SC.mainCategory_no = MC.no
		JOIN post P ON P.subCategory_no = SC.no
		JOIN member M ON M.id = P.member_id
		WHERE M.nickname = #{nickname} 
		GROUP BY MC.name
  	</if>
  	ORDER BY MC.no
  </select>
  
  <select id="getSubCategories" resultType="com.chaOreum.entity.SubCategory">
  	SELECT SC.* FROM subCategory SC
  	<if test="nickname != null and nickname != ''">
  		JOIN post P ON P.subCategory_no = SC.no
  		JOIN member M ON M.id = P.member_id 
		WHERE M.nickname = #{nickname}
		GROUP BY SC.name 
  	</if>
  	ORDER BY SC.no
  </select>
  
  <select id="getScByMc" resultType="com.chaOreum.entity.SubCategory">
  	SELECT * FROM subCategory WHERE mainCategory_no = #{no} ORDER BY no;
  </select>
  
</mapper>